@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Poppins&family=Raleway&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: var(--greyWhite);
    backdrop-filter: blur(30px);
}
:root{
    --greyWhite:rgba(243, 243, 243, 0.849);
}

body{
    background-color: rgb(255, 255, 255);
}

.intro h1{
    /* background-color:white; */
    max-width:600px;
    margin:0 auto;
    padding: 0 50px;
    justify-content:center;
    align-content:center;
}

.contents--item{
    margin:20px auto;
    max-width:300px;
}

.contents--item h4{
    margin:8px 0;
}

.contents{
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
}

.middlePage h2{
    max-width:600px;
    margin:0 auto;
    padding: 100px 50px;
    justify-content:center;
    align-content:center;
}

.intro h3{
    /* background-color:rgb(151, 59, 59); */
    max-width:450px;
    padding: 0 50px;
    margin:30px auto;
}

/* .btn--signUp{
    background-color:rgb(53, 129, 173);
    border:0 none transparent;
    width:86px;
    height:4vh;
    border-radius:5px;
    margin:0 auto;
    
} */

.nav--container{
    display: flex;
    justify-content: space-around;
    background-color: var(--greyWhite);
    
    height: 10vh;
}

.sections--page{
    margin: 40px auto;
    max-width: 900px;
}

.ls--nav ul{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 22px 0;
    
    align-content: center;
    width: 300px;
    max-width: 500px;
}

.ls--nav ul a{
    text-decoration:none;
    color:black;
}

.signUp--btn{
    background-color:black;
    color:white;
    font-weight:bold;
    width:60px;
    height:3.6vh;
    border-radius:10px;
}

.signIn--btn{
   border:1px solid black;
   font-weight:bold;
   border-radius:10px;
   width:60px;
   height:3.6vh;
}

li{
    list-style: none;
    
}

.intro h1{
    
    font-size: 2.5rem;
    font-weight: 1000;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* hr{
    height: 3vh;
    width: 1px;
    align-self: flex-start;
} */